.preloader{
    width: 150px;
    height: 150px;
    position: fixed;
    left: 46%;
    top: 46%;
    transform: translate(-50%,-50%);
    animation-name: preloader;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background: url("C:/Users/Егор/Desktop/Егор/html проэкты/html projects/weather-app/src/source/preloader2.png");
    background-size: 100%;
}

@keyframes preloader {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}